* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #A17EE1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#logo {
    width: 100vw;
    height: auto;
    max-height: 100vh;
} 
